li {
	color: black;
	font: bold 12px/30px Georgia, serif;
}

ol {
	padding-left: 0px;
}

button {
	border-radius: 25px;
}

#toDoInput{
	padding: 20px;
}

#buttonLayout > div{
	margin-top: 10px;
}

#completeID, #RCID {
	border: none;
  	background-color: transparent;
}

#toDoWrapper, #recentlyCompletedWrapper, #deleteWrapper{
	border: solid;
	border-color: #888888;
	padding: 8px;
	border-radius: 15px;
	box-shadow: 10px 10px 15px #888888;
	float:left;
	display:inline;
}

#list {
	min-height:20px;
	border: solid;
	border-radius: 10px;
	color: white;
	/*box-shadow: 05px 05px 15px #888888;*/
}

#recentlyCompletedTasks {
	min-height:20px;
	border: solid;
/*	margin-left:8%;*/
	margin-bottom: 20px;
	border-radius: 10px;
	color: white;
	/*box-shadow: 05px 05px 15px #888888;*/
}

#recentlyCompletedWrapper {
/*	position: absolute;*/
/*	margin-top: -58px;
	margin-left:7%;*/
	height:auto;
/*	width:150px;*/
	background-color:white;
	z-index: 2;

	-ms-transform: scale(1,1); /* IE 9 */
    	-webkit-transform: scale(1,1); /* Safari */
    	transform: scale(1,1); /* Standard syntax */ 
}


#RCtoggle {
	max-width: 100px;
	    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    scale: none;
}

/*Drag and drop styling*/
	body.dragging, body.dragging *
  cursor: move !important

.dragged{
  position: absolute
  top: 0
  opacity: .5
  z-index: 2000
}

ol.vertical {
  margin: 0 0 9px 0
  min-height: 10px
}
  li {
    display: block
    margin: 5px
    padding: 5px
    border: 1px solid #CCC
    color: $linkColor
    background: $grayLighter
}
  li.placeholder {
    position: relative
    margin: 0
    padding: 0
    border: none
}
    &:before {
      position: absolute
      content: ""
      width: 0
      height: 0
      margin-top: -5px
      left: -5px
      top: -4px
      border: 5px solid transparent
      border-left-color: $error
      border-right: none
  }


.slideClass {
	-webkit-animation: slide 2s forwards;
	/*-webkit-animation: slide 2s infinite;*/
	-webkit-animation-direction: alternate;
}


/*Animation*/
/*@-webkit-keyframes NAME-YOUR-ANIMATION {}
@-moz-keyframes NAME-YOUR-ANIMATION {}
@-o-keyframes NAME-YOUR-ANIMATION {}
@keyframes NAME-YOUR-ANIMATION {}*/

@-webkit-keyframes slide {
	0%
	{
		-ms-transform: scale(1,1) translateX(0px); /* IE 9 */
    	-webkit-transform: scale(1,1) translateX(0px); /* Safari */
    	transform: scale(1,1) translateX(0px); /* Standard syntax */ 
		/*transform: scale(1,1);*/
		/*-webkit-transform: translateX(0px);*/
		
	}
	
	100% 
	{
		-ms-transform: scale(1.3,1.3) translateX(-280px); /* IE 9 */
    	-webkit-transform: scale(1.3,1.3) translateX(-280px); /* Safari */
    	transform: scale(1.3,1.3) translateX(-280px); /* Standard syntax */
		/*transform: scale(3,1);*/
		/*-webkit-transform: translateX(-350px);*/
		
	}
}
